<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <title>Jonathan Simmons</title>
    {% feed_meta %}
    {% seo %}
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Jonathan, Jonathan Simmons, Jonathan D Simmons, dallas, texas, jonathansimmons, @jonathansimmons, thatsimmonsman, @thatsimmonsman" name="keywords"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  </head>
