<div class="sidebar-container">
	<span class="avatar">
		<a href="/">
	    <img class="" src="/assets/images/avatar@2x.png" alt="Jonathan Simmons">
  	</a>
	</span>
	<span class="name">Jonathan Simmons</span>
	<div class="bio">
	    <p>California born, Software Engineer in Baton Rouge, La.</p>
	    <p>I'm married to the beautiful <a href="http://instagram.com/thatsimmonslady">Danae Simmons</a>, and we have a son <a href="http://instagram.com/cohengsimmons">Cohen Gray</a> & are expecting a baby girl.</p>
	</div>
</div>
<!-- <ul id="instagram"></ul> -->

<ul>
	<li class="divider"></li>
	<li><a href="/resume"><i class="fa fa-file-text"></i> Resume</a></li>
	<li class="divider"></li>
	<li><a href="/portfolio"><i class="fa fa-code"></i> Portfolio</a></li>
	<li class="divider"></li>
</ul>
<ul id="social">
	<li class="row">
		<a href="http://twitter.com/jonathansimmons" class="col-md-3 col-sm-3 col-xs-3" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="http://instagram.com/jonathansimmons" class="col-md-3 col-sm-3 col-xs-3" target="_blank"><i class="fa fa-instagram"></i></a>
		<a href="http://github.com/jonathansimmons" class="col-md-3 col-sm-3 col-xs-3" target="_blank"><i class="fa fa-github"></i></a>
		<a href="http://dribbble.com/jonathansimmons" class="col-md-3 col-sm-3 col-xs-3" target="_blank"><i class="fa fa-dribbble"></i></a>
	</li>
</ul>

